body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Style for the table container */
#berthListContainer {
    padding-top: 150px;
    background-color: #f4f4f4;
    width: 100%;
}

/* Style for the dynamic table */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#berthListHeader {
    font-size: 35px;
    padding-top: 20px;
    text-align: center; /* Ensure the text is centered */
    border: none;
    width: 100%;
    vertical-align: middle;
}

.berthListInfo {
    font-size: 25px;
    padding: 20px 10px; /* Increased padding to add more space above and below */
    text-align: left;
    border: none;
    margin-top: 10px; /* Adds more space above */
    margin-bottom: 10px; /* Adds more space below */
    vertical-align: middle;
}

td {
    padding: 10px; /* Ensures consistent padding in both headers and cells */
    text-align: left; /* Aligns text to the left */
    vertical-align: middle; /* Vertically centers text */
    font-size: 20px;
    word-wrap: break-word;
    width: fit-content;
}

/* Table row styling for better differentiation */
.berthTableRow {
    background-color: white;
    width: 100%;
}

/* Row hover effect */
.berthTableRow:hover {
    background-color: #d3cfcc;
}

.berthTableRow:nth-child(odd) {
    background-color: #e8e5e2; /* Color for odd rows */
    width: 100%;
}

.berthTableRow:nth-child(odd):hover {
    background-color: #d3cfcc;
}

/* Styling for the sorting buttons */
#sortingBtnRow {
    text-align: center;
    vertical-align: middle;
    border: none;
}

#sortingBtnCell {
    text-align: center;
    vertical-align: middle;
    border: none;
}

#sortingBtnsContainer {
    text-align: center;
    vertical-align: middle;
    display: inline;
    border: none;
}

.sortingBtn {
    text-decoration: none;
    font-size: 19px;
    display: inline;
    width: 300px;
    margin-top: 10px;
    margin-left: 1px;
    border-radius: 6px;
    color: #5c82b5;
    background: white;
    border-color: #5c82b5;
    border-style: solid;
}


.sortingBtn.selected {
    color: white;
    background: #5c82b5;
    border-color: #5c82b5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.sortingBtn:hover {
    color: white;
    background: #5c82b5;
    border-color: #5c82b5;
}

/* Styling for the export buttonn */
.exportBtn {
    text-decoration: none;
    font-size: 19px;
    display: inline;
    margin-top: 10px;
    margin-left: 1px;
    border-radius: 6px;
    color: #5c82b5;
    background: white;
    border-color: #5c82b5;
    border-style: solid;
}


.exportBtnBtn:active {
    color: white;
    background: #5c82b5;
    border-color: #5c82b5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.exportBtn:hover {
    color: white;
    background: #5c82b5;
    border-color: #5c82b5;
}

/* Specific styling for editable cells */
.editableCells {
    max-width: 100px; /* Limit cell width to prevent overly wide cells */
    text-align: left; /* Center text in cell */
}
.editableInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2px auto; /* Center the input field within the cell */
    font-size: 18px;
    max-width: 100px;
}

.editableInput:focus {
    outline: none;
    border-color: #5c5db5;
    box-shadow: 0 0 5px 1px rgb(92, 130, 181);
}

/* Styling for the uneditable cells */
.uneditableCells {
    max-width: 100px; /* Limit cell width to prevent overly wide cells */
    padding: 5px; /* Add padding for a centered look */
    text-align: left; /* Center text in cell */
}
.uneditableInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2px auto; /* Center the input field within the cell */
    font-size: 18px;
    width: auto;
    cursor: auto;
}

.uneditableInput:focus {
    outline: none;
    border: none;
    cursor: auto;
}

/* Styles for the save button */
.saveBtn {
    background-color: #5c82b5;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    font-size: 14px;
}

.saveBtn:hover {
    background-color: #4f74a3;
}

.saveBtnCell {
    text-align: center;
    width: auto;
    border: none;
    background-color: transparent;
}

/* Search bar styling */
#searchBarCell {
    padding: 10px;
    text-align: center;
}

#berthListSearchBar {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 30%; /* Adjust width as per requirement */
    margin: 20px auto; /* Center the search bar */
    display: block; /* Ensure it's treated as a block-level element */
    transition: border-color 0.3s ease;
}

#berthListSearchBar:focus {
    border-color: #5c5db5; /* Blue border on focus */
    outline: none;
    box-shadow: 0 0 5px 2px rgb(92, 130, 181); /* Creates a blue glow */
}

/* Style for narrow headers */
.narrowHeader {
    max-width: 50px;
    text-align: left;
}

/* Style for narrow data cells */
.narrowCell {
    max-width: 30px;
    text-align: center;
}

/* Normal header styling */
.headerCell {
    width: auto;
    text-align: left;
}