.boatRequestsContainer {
    z-index: 20;
    background-color: white;
    gap: 10px;
    padding-top: 110px; /*Dette skal passe med navigationsbaren når det laves om*/
    font-size: 25px;
}

table {
    border: 1px solid;
    border-collapse: separate;
    table-border-color-dark: #222222;
    width: 100%;
    table-layout: auto;
}

tr {
    border: 1px solid;
    border-collapse: separate;
    table-border-color-dark: #222222;
    width: 100%;
}

th {
    border: 1px solid;
    border-collapse: separate;
    table-border-color-dark: #222222;
}

td {
    border: 1px solid;
    border-collapse: separate;
    table-border-color-dark: #222222;
    vertical-align: middle;
    padding: 8px;
}

td button.distributeBerthsBtn {
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

td button.distributeBerthsBtn:hover{
    background-color: #5c82b5;
    color: white;
}

.iconsBoatRequests {
    margin: 0 auto;
    display: block;
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
}
 /* Button styling for vessel inspector "tildel" */
.buttonAssigned{
    background-color: #5c82b5;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}

button[disabled] {
    opacity: 90%;
    cursor: not-allowed;
}