
/* baggrunden */
body {
    background: linear-gradient(45deg, #5c82b5, #2b4d73);
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* Login container */
.login-container {
    background: rgba(0, 0, 75, 0.8);
    padding: 30px 30px;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 320px;
    text-align: center;
    margin-top: 200px;
    position: relative; /* For at placere luk-knappen */
}

/* Luk-knappen oppe i hjørnet */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.close-btn:hover {
    color: #ffcc00; /* Burde være ca samme farve som skriften i deres logo */
}


/* Input-felter */
.input-field {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    font-size: 1.3rem;
    outline: none;
    text-align: center;
}

/* Selve Login-knappen */
.btn {
    width: 50%;
    padding: 10px;
    background-color: #5c82b5;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #2b4d73;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}
