.map {
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: fixed;
}


.harbor {
    text-align: center;
    padding-top: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    z-index: 30;
    transition: margin-left 0.5s;
    margin-left: 350px;
}

.btnHarbor {
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    transition: 0.1s;
    width: auto; /* Let the width adjust to content */
    padding: 8px 16px; /* Add padding for readability */
    margin: 5px; /* Space between buttons */
    border-radius: 10px;
    color: #5c82b5;
    background: white;
    border: 2px solid #5c82b5; /* Slightly thicker border */
    font-weight: 500; /* Increase font weight for readability */
    text-align: center; /* Center text */
}

.btnHarbor.pressed {
    color: white;
    background: #5c82b5;
    border-color: #5c82b5;
}

.member-box {
    position: absolute;
    top: 120px; /* Placeres lige under navigationbaren */
    left: 350px; /* Placeres lige ved siden af sidebaren */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 100; /* Sikrer at den vises oven på baggrundselementer */
    display: none;
    line-height: 1.3; /* Giver afstand mellem linjer */
}

.member-box .size-item {
    margin-left: 14px; /* Rykker teksten til højre */
    font-size: 16px; /* Juster fontstørrelse, hvis nødvendigt */
}

.member-box .member-name {
    font-size: 20px;
}

.map-legend {
    position: absolute;
    top: 190px; /* Position above zoom buttons */
    right: 10px; /* Aligns to the right */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    line-height: 1.5;
    z-index: 1000; /* Ensure it appears above map layers */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.legend-color {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin-right: 8px;
}

.legend-color.available {
    background-color: limeGreen; /* Green for available */
    border: limeGreen 2px solid;
}

.legend-color.occupied {
    background-color: crimson; /* Red for occupied */
    border: crimson 2px solid;
}

.legend-color.unavailable {
    background-color: purple; /* Orange for temporarily unavailable */
    border: purple 2px solid;
}

.legend-color.chosen {
    background-color: white;
    border: blue 2px solid; /* Blue border for chosen */;
}

.highlight {
    background-color: #e6f7ff; /* Light blue background */
    font-weight: bold;
    transition: background-color 0.3s ease;
}
