.memberRequestsContainer {
    z-index: 20;
    background-color: white;
    gap: 10px;
    padding-top: 150px; /*Dette skal passe med navigationsbaren når det laves om*/
    font-size: 25px;
}

table {
    border: none;
    table-border-color-dark: #222222;
    width: 100%;
    table-layout: auto;
}

tr {
    border: 1px solid;
    border-collapse: separate;
    table-border-color-dark: #222222;
    width: 100%;
}

th {
    border: 1px solid;
    border-collapse: separate;
    table-border-color-dark: #222222;
}

td {
    border: 1px solid;
    border-collapse: separate;
    table-border-color-dark: #222222;
    vertical-align: middle;
    padding: 8px;
}

.iconsBoatRequests {
    margin: 0 auto;
    display: block;
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
}

.memberInfoBtn {
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: white;
    height: 100%;
}

.memberInfoBtn:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    float: right;
    margin-left: 5px;
    margin-top: 2px;
}

button:hover {
    background-color: #5c82b5;
    color: white;
}

.infoRowMemberReq {
    padding: 0 18px;
    overflow: hidden;
    background-color: white;
    display: block;
    column-span: 2;
}

.selectedMemberBtn {
    background-color: #5c82b5;
    color: white;
}

.selectedMemberBtn:after {
    content: '\2796';
}