/*HEADER AND NAVIGATION BAR*/
.header {
    position: fixed;
    height: 120px;
    width: 100%;
    background: #5c82b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    position: relative;
    font-weight: 500;
    margin-left: 20px;
}

.header img{
    padding-top: 10px;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.navbar a::before{
    content: '';
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
    position: absolute;
}

#submit {
    border: none;
    background-color: #5c82b5;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: 585;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    padding: 1px 1px; /* Styrer hvor lang stregen under button er. 1px og 1px passer med ordet "log ud". */
    margin-right: 30px;
}

#submit::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}

#submit:hover::before {
    width: 100%;
}
