/*SIDEBAR*/
.sidebar {
    height: calc(100vh - 120px); /* Height set to max minus the height of the navigation bar. Remember this when size of navigation bar is changed. This also makes it dynamic. */
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow: auto;
    transition: width 0.5s;
    margin-top: 120px;
    overflow-y:scroll;
}
/*
.sidebar input{
    margin-top: 10px;
    margin-left: 15px;
    /*width: 300px;*//*
    font-size: 24px;
    border:1px solid #5c82b5;
    border-radius:5px
}
*/
::placeholder {
    color: #5c82b5;
    opacity: 1;
    font-size: 18px;
}


.sidebarMenuBtn {
    text-decoration: none;
    font-size: 19px;
    display: inline;
    width: 160px;
    margin-top: 10px;
    margin-left: 1px;
    border-radius: 6px;
    color: #5c82b5;
    background: white;
    border-color: #5c82b5;
    border-style: solid;
}


.sidebarMenuBtn.pressed {
    text-decoration: none;
    font-size: 19px;
    display: inline;
    width: 160px;
    margin-top: 10px;
    margin-left: 4px;
    margin-bottom: 10px;
    border-radius: 6px;
    color: white;
    background: #5c82b5;
    border-color: #5c82b5;
    border-style: solid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.sidebarMenuBtn:hover {
    color: white;
    background: #5c82b5;
    border-color: #5c82b5;
}

.sidebarBtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    opacity: 100;
    background: white;
    border: none;
}

.sidebarBtn:hover {
    color: black;
}

.closeSidebar {
    width: 80px;
    margin-top: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 30;
    transition: margin-left 0.5s;
    margin-left: 350px;
}


.membersInfo {
    text-decoration: none;
    font-size: 15px;
    display: inline;
    transition: 0.1s;
    width: 320px;
    margin-top: 10px;
    margin-left: 1px;
    border-radius: 10px;
    color: black;
    background: white;
    border-color: #5c82b5;

}

/* css for tables in sidebar */

.berthList {
    display: none;
    width: 100%;
}

.memberBtn:active{
    background-color: #5c82b5;
    color: white;
}

table {

        padding: 10px 18px; /* Justeret padding for bedre balance */
        max-height: 0; /* Start med skjult indhold */
        overflow: hidden; /* Skjuler indhold uden for max-height */
        transition: max-height 0.3s ease, padding 0.3s ease; /* Blød overgang ved åbning/lukning */
        background-color: #f8f8f8; /* Let grå baggrund for kontrast */
        border: 2px solid #ddd; /* Tynd grå kant omkring cellen */
        border-radius: 6px; /* Bløde hjørner */
        margin-top: 5px; /* Lille afstand over cellen */
        margin-bottom: 5px; /* Lille afstand under cellen */
        width: 100%;
}

thead {
    font-size: 25px;
    text-align: center;
}

tbody {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

tr {
    display: flex;
    border: 1px solid #ddd; /* Tynd grå kant omkring cellen */
    border-collapse: separate;
    table-border-color-dark: #222222;
    width: 100%;
    border-radius: 6px;
}

th {
    border: 1px solid;
    border-collapse: separate;
    table-border-color-dark: #222222;
    border-radius: 6px;
    margin-top: 5px; /* Lille afstand over cellen */
    margin-bottom: 5px; /* Lille afstand under cellen */
}

td {
    border: 1px solid;
    border-collapse: separate;
    table-border-color-dark: #222222;
    vertical-align: middle;
    border-radius: 6px;
    width: 100%;
}

.nameBtn, .berthBtn {
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 6px;
    display: flex; /* ensures child elements can be aligned */
    align-items: center; /* vertically centers items */
    justify-content: space-between;
    position: relative; /* Necessary for :after positioning */
}

/* Icon style within the button */
.nameBtn:after, .berthBtn:after {
    content: "";
    background-image: url('http://localhost:8080/Images/Icons/arrowDown.png'); /* Update URL if needed */
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    pointer-events: none;
}

/*.selectedNameBtn {
    background-color: #2b4d73;
}*/

/*
.nameBtn:after, .berthBtn:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) *//*
    font-size: 10px;
    float: right;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 6px;
    margin-bottom: 5px; /* Lille afstand under cellen *//*
}
*/
.nameBtn:hover, .berthBtn:hover{
    background-color: #5c82b5;
    color: white;
    border-radius: 6px;
}

.infoCell {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;

}

.selectedNameBtn, .selectedBerthBtn, .selected {
    background-color: #5c82b5;
    color: white;
}

/* Icon styling for the collapsible list */
.selectedNameBtn:after, .selectedBerthBtn:after {
    content: "";
    background-image: url('http://localhost:8080/Images/Icons/arrowUp.png'); /* Update URL if needed */
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    pointer-events: none;
}
/*
.selectedNameBtn:after {
    content: '\2796';
}
*/

.berthListAv {
    display: none;
    width: 100%;
}

#searchWithIcon {
    position: relative;
    margin-top: 10px;
    /*margin-left: 15px;*/
    font-size: 24px;
    border:1px solid #5c82b5;
    border-radius: 10px;
    padding-bottom: 5px;
}


#searchWithIcon .vector {
    position: relative;
    left: 6px;
    top: 50%;
    transform: translateY(15%);
    width: 20px; /* Billedets bredde */
    height: 20px; /* Billedets højde */
    color: #5c82b5;
    border: 0 solid;
}
/*
.searchWithIcon input {
    padding-left: 35px; /* Gør plads til ikonet *//*
    position: relative;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 24px;
    border:1px solid #5c82b5;
    border-radius: 10px;

}*/

#searchBarSidebar {
    border: 0 solid;
    width: 87%;
    line-height: 22px;
    /* padding-left: 35px; */
    position: relative;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 20px;
    /* border-radius: 10px;*/
    color: #5c82b5;
}

#searchBarSidebar:focus {
    outline:none;
    /*border: none;*/
    width: 87%;
    line-height: 22px;
    /* padding-left: 35px; */
    position: relative;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 20px;
    /* border-radius: 10px;*/
    color: #5c82b5;
}


.vector,
.vector * {
    box-sizing: border-box;
    color: #5c82b5;
}
.vector {
    width: 21px;
    height: 21px;
    position: relative;
    overflow: visible;
    color: #5c82b5;
}

/* Figma Styles of your File */
:root {
    /* Fonts */
    /* Effects */
}

/* Tilføj/Add Standard knap  #5c82b5*/
.addBtn {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: solid black;
    padding: 2px 11px; /* Indre afstand (gør knappen mere behagelig at klikke på) */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

/* Når musen er over knappen */
.addBtn:hover {
    background-color: #5c82b5; /* Mørkere baggrundsfarve 2b4d73 */
    color: white;
}

/* Remove Standard knap  #5c82b5*/
#removeBtn {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: solid black;
    padding: 2px 11px; /* Indre afstand (gør knappen mere behagelig at klikke på) */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

/* Når musen er over knappen */
#removeBtn:hover {
    background-color: #5c82b5; /* Mørkere baggrundsfarve 2b4d73 */
    color: white;
}

/* Assign/Tildel Standard knap  #5c82b5*/
.assignBtn {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: solid black;
    padding: 2px 11px; /* Indre afstand (gør knappen mere behagelig at klikke på) */
    cursor: pointer;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

/* Når musen er over knappen */
.assignBtn:hover {
    background-color: #5c82b5; /* Mørkere baggrundsfarve 2b4d73 */
    color: white;
}

.berthCell {
    line-height: 1.3;
}


