<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Approved Members</title>
    <script>
        async function fetchApprovedBoats() {
            try {
                const response = await fetch('/api/approvedBoats');
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const approvedBoats = await response.json();
                console.log("Fetched approved boats:", approvedBoats); // Debug output

                const resultDiv = document.getElementById('result');
                resultDiv.innerHTML = ''; // Clear previous results

                approvedBoats.forEach(approvedBoat => {
                    const boat = approvedBoat.boat;
                    const boatInfo = document.createElement('div');
                    boatInfo.textContent = `ID: ${boat.memberId}, boatId: ${boat.boatId}, Name: ${boat.name}, Type: ${boat.type}, Manufacturer: ${boat.manufacturer}, Length: ${boat.length}, Width: ${boat.width}, Draught: ${boat.draught}, Insurance: ${boat.insurance}`;
                    resultDiv.appendChild(boatInfo);
                });
            } catch (error) {
                console.error('Error fetching approved boats:', error);
            }
        }
    </script>

</head>
<body>
<h1>Approved Boats</h1>
<button onclick="fetchApprovedBoats()">Fetch Approved Boats</button>
<div id="result"></div>
</body>
</html>
