<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bogholder</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet" href="/css/navigationBar.css" />
    <link rel="stylesheet" href="/css/sidebarNyBook.css" />
</head>
<body>
<header class="header">
    <a href="#"><img src="/Images/Logo.png" alt="Logo" height="100"></a>
    <nav class="navbar">
        <a href="bookkeeperStartPage">Kort</a>
        <a href="bookkeeperMemberRequests">Medlemskabsanmodninger</a>
        <a href="bookkeeperBoatRequests">Bådanmodninger</a>
        <a href="bookkeeperMemberList">Medlemsliste</a>
        <a href="update-password">Opdater kodeord</a>
        <form action="/logout" method="post" style="display:inline;">
            <button type="submit" id="submit">Log ud</button>
        </form>
    </nav>
</header>

<div id="closeSidebar" class="closeSidebar">
    <button id="closeSidebarBtn" class="closeSidebarBtn">
        <img id="sidebarBtn" src="/Images/Icons/closeIcon.svg" alt="Close sidebar">
    </button>
</div>
<div id="sidebar" class="sidebar">
    <input type="text" id="searchBar" class="searchBar" placeholder="🔍 Søg efter et medlem eller båd...">

    <table id="memberList" class="memberList">
        <thead id="memberTableHeader" class="tableHeader">
        <!-- Dynamic header is added here -->
        </thead>
        <tbody>
        <!-- Dynamic table is added here -->
        </tbody>
    </table>
</div>


<div id="harbor" class="harbor">
    <button id="vestreBaadehavn" class="btnHarbor pressed">Vestre Bådehavn</button>
    <button id="skudehavn" class="btnHarbor">Skudehavn</button>
</div>

<!-- kortet -->
<div id="map" class="map"></div>
<script type="module" src="/js/mapBookkeeper.js" defer></script>
<script type="module" src="/js/sidebarBook.js" defer></script>
<script type="module" src="/js/fetchMethods.js"></script>
<div id="mapLegend" class="map-legend">
    <div class="legend-item">
        <span class="legend-color available"></span> Tilgængelig
    </div>
    <div class="legend-item">
        <span class="legend-color occupied"></span> Optaget
    </div>
    <div class="legend-item">
        <span class="legend-color unavailable"></span> Gæst
    </div>
    <div class="legend-item">
        <span class="legend-color chosen"></span> Valgt
    </div>
</div>
</body>
</html>