<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medlemskabsanmodninger</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet" href="/css/navigationBar.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
</head>
<body>
<header class="header">
    <a href="#"><img src="../../Images/Logo.png" alt="Logo" height="100"></a>
    <nav class="navbar">
        <a href="bookkeeperStartPage.html">Kort</a>
        <a href="bookkeeperMemberRequests.html">Medlemskabsanmodninger</a>
        <a href="bookkeeperBoatRequests.html">Bådanmodninger</a>
        <a href="bookkeeperMemberList.html">Medlemsliste</a>
        <a href="../startpage/startPage.html">Log ud</a>
    </nav>
</header>
</body>
</html>