<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bogholder</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet" href="/css/navigationBar.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
</head>
<body>
<header class="header">
    <a href="#"><img src="/Images/Logo.png" alt="Logo" height="100"></a>
    <nav class="navbar">
        <a href="bookkeeperStartPage.html">Kort</a>
        <a href="bookkeeperMemberRequests.html">Medlemskabsanmodninger</a>
        <a href="bookkeeperBoatRequests.html">Bådanmodninger</a>
        <a href="bookkeeperMemberList.html">Medlemsliste</a>
        <a href="index.html">Log ud</a>
    </nav>
</header>

<div id="closeSidebar" class="closeSidebar">
    <button id="closeSidebarBtn" class="closeSidebarBtn" onclick="openClose()">
        <img id="sidebarBtn" src="/Images/Icons/closeIcon.svg" alt="Close sidebar">
    </button>
</div>
<div id="sidebar" class="sidebar">
    <input type="text" id="searchBar" class="searchBar" placeholder="Søg...">
    <button href="#" class="btnSidebar">Medlemmer</button>
    <button href="#" class="btnSidebar">Bådpladser</button>
</div>

<div id="harbor" class="harbor">
    <button id="vestreBaadehavn" class="btnHarbor pressed">Vestre Bådehavn</button>
    <button id="skudehavn" class="btnHarbor">Skudehavn</button>
</div>

<!-- kortet -->
<div id="map" class="map"></div>
<script type="module" src="../../../../P3/P3/src/main/resources/static/js/map.js" defer></script>
<script src="../../../../P3/P3/src/main/resources/static/js/sidebar.js" defer></script>
<script src="../../../../P3/P3/src/main/resources/static/js/navigationbar.js"></script>
</body>
</html>