<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medlemsliste</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet" href="/css/navigationBar.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/MemberList.css" />
</head>
<body>
<header class="header">
    <a href="#"><img src="/Images/Logo.png" alt="Logo" height="100"></a>
    <nav class="navbar">
        <a href="bookkeeperStartPage">Kort</a>
        <a href="bookkeeperMemberRequests">Medlemskabsanmodninger</a>
        <a href="bookkeeperBoatRequests">Bådanmodninger</a>
        <a href="bookkeeperMemberList">Medlemsliste</a>
        <form action="/logout" method="post" style="display:inline;">
            <button type="submit" id="submit">Log ud</button>
        </form>
    </nav>
</header>
<div id="listSearchBarContainer">
    <input type="text" id="memberListSearchBar" class="searchBar" placeholder="Søg på medlem, båd eller bådplads">
</div>
<div id="MemberListContainer">
    <table id="MemberList">
        <thead>
        <tr>
            <th colspan="11">Medlemmer</th>
        </tr>
        <tr>
            <th id="memberNumber" class="memberListInfo">Medlemsnummer</th>
            <th id="memberName" class="memberListInfo">Medlemsnavn</th>
            <th id="memberAddress" class="memberListInfo">Medlem adresse</th>
            <th id="memberEmail" class="memberListInfo">E-mail</th>
            <th id="memberPhoneNumber1" class="medlemListInfo">Telefon nr.</th>
            <th id="boatName" class="memberListInfo">Bådnavn</th>
            <th id="boatLength" class="memberListInfo">Længde</th>
            <th id="boatWidth" class="memberListInfo">Bredde</th>
            <th id="boatAreal" class="memberListInfo">Areal</th>
            <th id="boatPrice" class="memberListInfo">Pris på båden</th>
            <th id="berthName" class="memberListInfo">Plads</th>

        </tr>
        </thead>
        <tbody id="memberListBody">
        <!-- Dynamic table is created through javaScript -->
        </tbody>
    </table>
</div>
<script type="module" src="/js/memberList.js"></script>
<script type="module" src="/js/memberFetch.js"></script>
</body>
</html>