<!DOCTYPE html>
<html lang="en">
<title>Opdater Kodeord</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opdater kodeord</title>
    <link rel="stylesheet" href="/css/updatePassword.css">
</head>
<body>

<div class="update-container">
    <button class="close-btn" onclick="navigateToPage()">&times;</button> <!-- &times er kryds tegnet direkte i html.-->
    <h2>Opdater kodeord</h2>

    <form th:action="@{/update-password}" method="post">
        <!-- <label class="form-label">Nuværende kodeord:</label> -->
        <input type="password" name="currentPassword" class="input-field-update-password" placeholder="Nuværende kodeord" />

        <!-- <label class="form-label">Nyt kodeord:</label> -->
        <input type="password" name="newPassword" class="input-field-update-password" placeholder="Nyt kodeord" />

        <!-- <label class="form-label">Gentag nyt kodeord:</label> -->
        <input type="password" name="confirmPassword" class="input-field-update-password" placeholder="Gentag nyt kodeord" />

        <button type="submit" class="btn">Opdater kodeord</button>

        <div th:if="${error}" class="form-group text-center">
            <p style="color: red;">[[${error}]]</p>
        </div>
        <div th:if="${message}" class="form-group text-center">
            <p style="color: green;">[[${message}]]</p>
        </div>
    </form>
</div>

<script>
    // funktion som navigerer brugeren hen til index.html hvis der trkkes på det lille kryds.
    function navigateToPage() {
        location.href = '/default';
    }
</script>

</body>
</html>