<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bådanmodninger</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navigationBar.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet" href="/css/boatRequests.css"/>
</head>
<body>
<header class="header">
    <a href="#"><img src="/Images/Logo.png" alt="Logo" height="100"></a>
    <nav class="navbar">
        <a href="vesselInspectorStartPage">Kort</a>
        <a href="vesselInspectorBoatRequests">Bådanmodning</a>
        <a href="vesselInspectorBerthList">Pladsliste</a>
        <form action="/logout" method="post" style="display:inline;">
            <button type="submit" id="submit">Log ud</button>
        </form>
    </nav>
</header>
<div id="boatRequestsContainer" class="boatRequestsContainer">
    <table id="boatRequests" class="boatRequests">
        <thead>
        <tr>
            <th colspan="5">Bådanmodninger</th>
        </tr>
        <tr>
            <th id="boatRequestsID" class="boatRequestsID">ID</th>
            <th id="boatRequestsName" class="boatRequestsName">Navn</th>
            <th id="boatAssigned" class="boatAssigned">Tildelt båd</th>
            <th id="feeSent" class="feeSent">Sendt faktura</th>
            <th id="feePaid" class="feePaid">Betalt faktura</th>
        </tr>
        </thead>
        <tbody id="boatRequestsBody">
        <!-- Dynamic cells are added here through JavaScript -->
        </tbody>
    </table>
</div>
<script src="/js/navigationbar.js"></script>
<script src="/js/boatRequests.js"></script>
</body>
</html>