<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fartøjsinspektør</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navigationBar.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/map.css" />
</head>
<body>
<header class="header">
    <a href="vesselInspectorStartPage"><img src="/Images/Logo.png" alt="Logo" height="100"></a>
    <nav class="navbar">
        <a href="vesselInspectorStartPage">Kort</a>
        <a href="vesselInspectorBoatRequests">Bådanmodning</a>
        <a href="vesselInspectorBerthList">Pladsliste</a>
        <form action="/logout" method="post" style="display:inline;">
            <button type="submit" id="submit">Log ud</button>
        </form>
    </nav>
</header>
<div id="closeSidebar" class="closeSidebar">
    <button id="closeSidebarBtn" class="closeSidebarBtn" onclick="openClose()">
        <img id="sidebarBtn" src="/Images/Icons/closeIcon.svg" alt="Close sidebar">
    </button>
</div>
<div id="sidebar" class="sidebar">
    <label for="searchBar"></label><input type="text" id="searchBar" class="searchBar" placeholder="Søg på medlem, båd eller bådplads">

    <form action="/default" method="post" style="display:inline;">
        <button id="memberBtn" class="sidebarMenuBtn">Medlemmer</button>
    </form>
    <button id="berthBtn" class="sidebarMenuBtn">Bådpladser</button>


    <table id="memberListWithoutBoat" class="memberList">
        <thead id="memberWithoutBoatTableHeader" class="tableHeader">
        <!-- Dynamic header is added here -->
        </thead>
        <tbody>
        <!-- Dynamic table is added here -->
        </tbody>
    </table>
    <table id="memberListBoat" class="memberList">
        <thead id="memberBoatTableHeader" class="tableHeader">
        <!-- Dynamic header is added here -->
        </thead>
        <tbody>
        <!-- Dynamic table is added here -->
        </tbody>
    </table>
    <table id="berthList" class="berthList">
        <thead id="berthTableHeader" class="tableHeader">
        <!-- Dynamic header is added here -->
        </thead>
        <tbody>
        <!-- Dynamic table is added here -->
        </tbody>
    </table>
    <!--
        <form>
            <b>ID:</b><div id="berthId"></div>
            <b>Name:</b><div id="berthName"></div>
            <b>status:</b><div id="berthStatus"></div>
        </form>
        -->
</div>
<!-- Knapper til at skifte havn-->
<div id="harbor" class="harbor">
    <button id="vestreBaadehavn" class="btnHarbor pressed">Vestre Bådehavn</button>
    <button id="skudehavn" class="btnHarbor">Skudehavn</button>
</div>
<!-- Kort -->
<div id="map" class="map"></div>
<script type="module" src="/js/map.js"></script>
<script type="module" src="/js/sidebarVessel.js"></script>
<script src="/js/navigationbar.js"></script>
<script type="module" src="/js/memberFetch.js"></script>
</body>
</html>